rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are insecure and are only intended for prototyping.
    // In a production application, you should implement proper security rules.
    match /rooms/{roomId} {
      allow read, write: if true;
    }
  }
}
